*{
    padding: 0;
    margin: 0;
}


/*Menú*/
#menu{
    width: 100%; /*Usamos todo el ancho de la pantalla*/
    height: 40px; 
    background-color: #333333;
    color: white;
    font-family: Helvetica, Arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}

#menu ul{
    list-style: none; /*Le quitamos los estilos a la lista*/
    text-decoration: 0px; /*Le quitamos las decoraciones a los elementos del ul (subrayado, etc)*/
    margin: 0px auto; /*Centramos el ul en la pantalla*/
    width: 1090px; /*Le damos una anchura*/
}

#menu > ul > li{
    line-height: 40px;
    float: left;
    /*border-left: 1px solid gray;*/
    border-right: 1px solid gray;
}

#menu > ul > li a{
    color: white;
    text-decoration: none;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

#menu > ul > li:first-child{ /*Agregamos el borde izquierdo que hace falta en el menú*/
    border-left: 1px solid gray; 
}


#menu > ul > li:hover{
    background-color: #70b231; /*Indicamos el color de las listas cuando le demos al hover*/
    box-shadow: 0px 0px 4px green inset; /*Le ponemos una pequeña sombra interior a los li para que se vea como "presionado"*/
}

/*Datos información*/

#info_usuario{
    margin: 5% 30% 5% 10%;
    padding: 2%;
    border-radius: 5px;
    background-color: #39452e;
}

#info_usuario > ul > li{
    margin: 4px;
    list-style: none;
}

#info_usuario > ul > li > a{
    border-bottom: #333333;
    font-size: 25px;
}

#info_usuario > h4{
    margin: 4px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.encabezado{
    font-size: 110px;
}
/**/

.registros{
    display: grid;
    grid-template-columns: auto auto auto;
}

.formulario{
    display: grid;
    grid-template-columns: auto;
    width: 50%;
    padding: 5%;
}

.formulario label{
    margin: 0px 20px 10px 20px;
}