*{
  padding: 0;
  margin: 0;
  text-decoration: none;  
}

.container{
    margin: 0;
    padding: 0;
}

.columns{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:#eaeaea;
    /*margin: 150px 370px 150px 370px;*/
    margin: 10% 60% 10% 31%;
    height: 300px;
    width: 500px;
    border-radius: 10px 10px 10px 10px;
}

.columns > form > label{
    display: flex;
    height: 10%;
    margin-top: 20px;
    padding-bottom: 0;
    font-size:larger;
    text-align: center;
}

.columns > form > input{
    display: flex;
    justify-content: baseline;
    height: 10%;
    text-align: center;
}

.btn{
    margin-top: 20%;
    padding: 2px;
    color: #eaeaea;
    background-color: #18a2b8;
}

.titulo{
    margin-top: 10px;
}



@media screen and (max-width: 600px) {
    .container{
        margin: 0;
        padding: 0;
    }
    
    .columns{
        display: flex;
        justify-content: center;
        text-align: center;
        background-color:#eaeaea;
        margin: 10%;
        height: 50%;
        width: 30%;
        border-radius: 10px 10px 10px 10px;
    }
    
    .columns > form > label{
        display: flex;
        height: 10%;
        margin-top: 20px;
        padding-bottom: 0;
        font-size:larger;
        text-align: center;
    }
    
    .columns > form > input{
        display: flex;
        justify-content: baseline;
        height: 10%;
        text-align: center;
    }
    
    .btn{
        margin-top: 10%;
        padding: 2px;
        background-color: #18a2b8;
    }
    
}